<div id="signin-main">
    <div id="signin-containner" class="container">
        <h1> Sign In </h1>
        <form action="/users/create-session" method="POST">
            <div class="form__group field">
                <input type="email" class="form__field" name="email" placeholder="your email" required>
                <label for="email"  class="form__label">Email</label>
            </div>
    
            <div class="form__group field">
                <input type="password" class="form__field" name="password" placeholder="Enter Password" required>
                <label for="password"  class="form__label">Password</label>
            </div>
            <input type="submit" class="button-28" value="Sign In">
        </form>
    </div>
</div>