
<div id="profile-main">
    <div class="container">
        <button class="button-28">Back</button>
        <div id="image">
            <img id="profile-image" src="/images/profile.png" alt="">
        </div>
        <div id="data">
            <div class="data-name ">Name : <span class="name"><%= user.name %></span> </div>
            <div class="data-name">Email : <span class="name"><%= user.email %></span></div>
            <div class="data-name update">Last Updated Date : <%= user.updatedAt %></div>
        </div>
    </div>
</div>>
